:host {
  display: block;
  height: 500px;
  overflow: scroll;
}

.messages-list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.message-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
